data/maarchRM/profiles/SICTIAM_0001.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:10" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qdt="fr:gouv:culture:archivesdefrance:seda:v1.0:QualifiedDataType:1" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:2" xmlns="fr:gouv:culture:archivesdefrance:seda:v1.0" ns="fr:gouv:culture:archivesdefrance:seda:v1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<rng:start combine="choice">
		<rng:ref name="ArchiveTransfer"/>
	</rng:start>
	<rng:define name="ArchiveTransfer">
		<rng:element name="ArchiveTransfer">
			<rng:ref name="ArchiveTransfer_N65537"/>
		</rng:element>
	</rng:define>
	<rng:define name="ArchiveTransfer_N65537">
		<rng:element name="Date">
			<rng:data type="string"/>
		</rng:element>
		<rng:element name="TransferIdentifier">
			<rng:ref name="TransferIdentifier_N65547"/>
		</rng:element>
		<rng:element name="ArchivalAgency">
			<rng:ref name="ArchivalAgency_N65577"/>
		</rng:element>
		<rng:element name="TransferringAgency">
			<rng:ref name="TransferringAgency_N66209"/>
		</rng:element>
		<rng:oneOrMore>
			<rng:element name="Archive">
				<rng:ref name="Archive_N66253"/>
			</rng:element>
		</rng:oneOrMore>
	</rng:define>
	<rng:define name="ArchivalAgency_N65577">
		<rng:optional>
			<rng:element name="BusinessType">
				<rng:ref name="BusinessType_N65580"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Description">
				<rng:ref name="Description_N65619"/>
			</rng:element>
		</rng:optional>
		<rng:element name="Identification">
			<rng:ref name="Identification_N65630"/>
		</rng:element>
		<rng:optional>
			<rng:element name="LegalClassification">
				<rng:ref name="LegalClassification_N65660"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Name">
				<rng:ref name="Name_N65699"/>
			</rng:element>
		</rng:optional>
		<rng:zeroOrMore>
			<rng:element name="Address">
				<rng:ref name="Address_N65710"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Communication">
				<rng:ref name="Communication_N65822"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Communication">
				<rng:ref name="Communication_N65851"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Communication">
				<rng:ref name="Communication_N65880"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Contact">
				<rng:ref name="Contact_N65929"/>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
	<rng:define name="Address_N65710">
		<rng:optional>
			<rng:element name="BlockName">
				<rng:ref name="BlockName_N65715"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="BuildingName">
				<rng:ref name="BuildingName_N65726"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="BuildingNumber">
				<rng:ref name="BuildingNumber_N65737"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="CityName">
				<rng:ref name="CityName_N65748"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Country">
				<rng:ref name="Country_N65759"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Postcode">
				<rng:ref name="Postcode_N65772"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="StreetName">
				<rng:ref name="StreetName_N65811"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Communication_N65822">
		<rng:optional>
			<rng:element name="Channel">
				<rng:ref name="Channel_N65827"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="CompleteNumber">
				<rng:ref name="CompleteNumber_N65840"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Communication_N65851">
		<rng:optional>
			<rng:element name="Channel">
				<rng:ref name="Channel_N65856"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="CompleteNumber">
				<rng:ref name="CompleteNumber_N65869"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Communication_N65880">
		<rng:optional>
			<rng:element name="Channel">
				<rng:ref name="Channel_N65885"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="URIID">
				<rng:ref name="URIID_N65898"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Contact_N65929">
		<rng:optional>
			<rng:element name="DepartmentName">
				<rng:ref name="DepartmentName_N65934"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Identification">
				<rng:ref name="Identification_N65945"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="PersonName">
				<rng:ref name="PersonName_N65976"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Responsibility">
				<rng:ref name="Responsibility_N65987"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Address">
				<rng:ref name="Address_N65998"/>
			</rng:element>
		</rng:optional>
		<rng:zeroOrMore>
			<rng:element name="Communication">
				<rng:ref name="Communication_N66131"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Communication">
				<rng:ref name="Communication_N66160"/>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
	<rng:define name="Address_N65998">
		<rng:optional>
			<rng:element name="BlockName">
				<rng:ref name="BlockName_N66002"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="BuildingName">
				<rng:ref name="BuildingName_N66013"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="BuildingNumber">
				<rng:ref name="BuildingNumber_N66024"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="CityName">
				<rng:ref name="CityName_N66035"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Country">
				<rng:ref name="Country_N66046"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="FloorIdentification">
				<rng:ref name="FloorIdentification_N66059"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="Postcode">
				<rng:ref name="Postcode_N66070"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="RoomIdentification">
				<rng:ref name="RoomIdentification_N66109"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="StreetName">
				<rng:ref name="StreetName_N66120"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Communication_N66131">
		<rng:optional>
			<rng:element name="Channel">
				<rng:ref name="Channel_N66136"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="CompleteNumber">
				<rng:ref name="CompleteNumber_N66149"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Communication_N66160">
		<rng:optional>
			<rng:element name="Channel">
				<rng:ref name="Channel_N66165"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="URIID">
				<rng:ref name="URIID_N66178"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="TransferringAgency_N66209">
		<rng:element name="Identification">
			<rng:ref name="Identification_N66212"/>
		</rng:element>
		<rng:optional>
			<rng:element name="Name">
				<rng:ref name="Name_N66242"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="Archive_N66253">
		<rng:optional>
			<rng:element name="ArchivalAgreement">
				<rng:ref name="ArchivalAgreement_N66257"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="ArchivalProfile">
				<rng:ref name="ArchivalProfile_N66288"/>
			</rng:element>
		</rng:optional>
		<rng:oneOrMore>
			<rng:element name="DescriptionLanguage">
				<rng:ref name="DescriptionLanguage_N66319"/>
			</rng:element>
		</rng:oneOrMore>
		<rng:element name="Name">
			<rng:ref name="Name_N66332"/>
		</rng:element>
		<rng:element name="ContentDescription">
			<rng:ref name="ContentDescription_N66342"/>
		</rng:element>
		<rng:element name="AccessRestrictionRule">
			<rng:ref name="AccessRestrictionRule_N66526"/>
		</rng:element>
		<rng:optional>
			<rng:element name="AppraisalRule">
				<rng:ref name="AppraisalRule_N66555"/>
			</rng:element>
		</rng:optional>
                <rng:zeroOrMore>
			<rng:element name="ArchiveObject">
                           <rng:zeroOrMore>
				<rng:ref name="anyElement"/>
                           </rng:zeroOrMore>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="Document">
				<rng:ref name="Document_N66593"/>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
	<rng:define name="ContentDescription_N66342">
		<rng:element name="DescriptionLevel">
			<rng:ref name="DescriptionLevel_N66345"/>
		</rng:element>
        <rng:zeroOrMore>
			<rng:element name="FilePlanPosition">
                <rng:data type="string"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:oneOrMore>
			<rng:element name="Language">
				<rng:ref name="Language_N66357"/>
			</rng:element>
		</rng:oneOrMore>
        <rng:optional>
			<rng:element name="LatestDate">
                <rng:data type="string"/>
			</rng:element>
		</rng:optional>
        <rng:optional>
			<rng:element name="OldestDate">
                <rng:data type="string"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="AccessRestrictionRule">
				<rng:ref name="AccessRestrictionRule_N66370"/>
			</rng:element>
		</rng:optional>
		<rng:zeroOrMore>
			<rng:element name="Keyword">
				<rng:ref name="Keyword_N66401"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
			<rng:element name="OriginatingAgency">
				<rng:ref name="OriginatingAgency_N66473"/>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
	<rng:define name="AccessRestrictionRule_N66370">
		<rng:element name="Code">
			<rng:ref name="Code_N66375"/>
		</rng:element>
		<rng:element name="StartDate">
			<rng:value>2015-09-21</rng:value>
		</rng:element>
	</rng:define>
	<rng:define name="Keyword_N66401">
		<rng:element name="KeywordContent">
			<rng:ref name="KeywordContent_N66406"/>
		</rng:element>
        <rng:optional>
			<rng:element name="KeywordReference">
				<rng:data type="string"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="KeywordType">
				<rng:ref name="KeywordType_N66421"/>
			</rng:element>
		</rng:optional>
		<rng:optional>
			<rng:element name="AccessRestrictionRule">
				<rng:ref name="AccessRestrictionRule_N66435"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="AccessRestrictionRule_N66435">
		<rng:element name="Code">
			<rng:ref name="Code_N66440"/>
		</rng:element>
		<rng:element name="StartDate">
			<rng:value>2015-09-21</rng:value>
		</rng:element>
	</rng:define>
	<rng:define name="OriginatingAgency_N66473">
		<rng:element name="Identification">
			<rng:ref name="Identification_N66478"/>
		</rng:element>
		<rng:optional>
			<rng:element name="Name">
				<rng:ref name="Name_N66508"/>
			</rng:element>
		</rng:optional>
	</rng:define>
	<rng:define name="AccessRestrictionRule_N66526">
		<rng:element name="Code">
			<rng:ref name="Code_N66529"/>
		</rng:element>
		<rng:element name="StartDate">
			<rng:value>2015-09-21</rng:value>
		</rng:element>
	</rng:define>
	<rng:define name="AppraisalRule_N66555">
		<rng:element name="Code">
			<rng:ref name="Code_N66560"/>
		</rng:element>
		<rng:element name="Duration">
			<rng:value>P1Y</rng:value>
		</rng:element>
		<rng:element name="StartDate">
			<rng:value>2015-09-21</rng:value>
		</rng:element>
	</rng:define>
	<rng:define name="Document_N66593">
		<rng:element name="Attachment">
			<rng:ref name="Attachment_N66598"/>
		</rng:element>
		<rng:optional>
			<rng:element name="Integrity">
				<rng:ref name="Integrity_N66628"/>
			</rng:element>
		</rng:optional>
		<rng:zeroOrMore>
			<rng:element name="Language">
				<rng:ref name="Language_N66639"/>
			</rng:element>
		</rng:zeroOrMore>
		<rng:optional>
			<rng:element name="Size">
				<rng:ref name="Size_N66652"/>
			</rng:element>
		</rng:optional>
		<rng:oneOrMore>
			<rng:element name="Type">
				<rng:ref name="Type_N66663"/>
			</rng:element>
		</rng:oneOrMore>
	</rng:define>
	<rng:define name="TransferIdentifier_N65547">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BusinessType_N65580">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="name">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listSchemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Description_N65619">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Identification_N65630">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="LegalClassification_N65660">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="name">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listSchemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Name_N65699">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BlockName_N65715">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BuildingName_N65726">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BuildingNumber_N65737">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="CityName_N65748">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Country_N65759">
		<rng:value>FR</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Postcode_N65772">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="name">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listSchemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="StreetName_N65811">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Channel_N65827">
		<rng:value>TE</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="CompleteNumber_N65840">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Channel_N65856">
		<rng:value>FX</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="CompleteNumber_N65869">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Channel_N65885">
		<rng:value>EM</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="URIID_N65898">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="DepartmentName_N65934">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Identification_N65945">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="PersonName_N65976">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Responsibility_N65987">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BlockName_N66002">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BuildingName_N66013">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="BuildingNumber_N66024">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="CityName_N66035">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Country_N66046">
		<rng:value>FR</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="FloorIdentification_N66059">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Postcode_N66070">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="name">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="listSchemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="RoomIdentification_N66109">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="StreetName_N66120">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Channel_N66136">
		<rng:value>AL</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="CompleteNumber_N66149">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Channel_N66165">
		<rng:value>EM</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="URIID_N66178">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Identification_N66212">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Name_N66242">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="ArchivalAgreement_N66257">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="ArchivalProfile_N66288">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="DescriptionLanguage_N66319">
		<rng:value>fra</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Name_N66332">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="DescriptionLevel_N66345">
		<rng:value>item</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Language_N66357">
		<rng:value>fra</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Code_N66375">
		<rng:value>AR038</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="KeywordContent_N66406">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="role">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="KeywordType_N66421">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Code_N66440">
		<rng:value>AR038</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Identification_N66478">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="schemeID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeAgencyName">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeDataURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="schemeURI">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Name_N66508">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="languageID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Code_N66529">
		<rng:value>AR038</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Code_N66560">
		<rng:value>detruire</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Attachment_N66598">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="format">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="mimeCode">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="encodingCode">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="characterSetCode">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="uri">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
		<rng:optional>
			<rng:attribute name="filename">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Integrity_N66628">
		<rng:data type="string"/>
		<rng:attribute name="algorithme">
			<rng:data type="string"/>
		</rng:attribute>
	</rng:define>
	<rng:define name="Language_N66639">
		<rng:data type="string"/>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="Size_N66652">
		<rng:data type="string"/>
		<rng:attribute name="unitCode">
			<rng:data type="string"/>
		</rng:attribute>
	</rng:define>
	<rng:define name="Type_N66663">
		<rng:value>CDO</rng:value>
		<rng:optional>
			<rng:attribute name="listVersionID">
				<rng:data type="string"/>
			</rng:attribute>
		</rng:optional>
	</rng:define>
	<rng:define name="anyElement">
		<rng:zeroOrMore>
			<rng:element>
				<rng:anyName/>
				<rng:zeroOrMore>
					<rng:choice>
						<rng:attribute>
							<rng:anyName/>
						</rng:attribute>
						<rng:text/>
						<rng:ref name="anyElement"/>
					</rng:choice>
				</rng:zeroOrMore>
			</rng:element>
		</rng:zeroOrMore>
	</rng:define>
</rng:grammar>